/* =Layout */
:root,
body {
    //min-width: 320px;
    height: 100%;
    touch-action: manipulation; // ios 터치 확대 방지
}

:root {
    font-size: $defaultFontSize;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-size: unitsConverter(1.3);
}

app-root {
    height: 100%;
}
