/* =Layout */
//:root,
//body {
//    height: 100dvh;
//}

:root {
    font-size: $defaultFontSize;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    min-width: 320px;
    height: calc(var(--vh, 1vh) * 100);
    //min-height: -webkit-fill-available;
    font-size: unitsConverter(1.3);
    //touch-action: manipulation; // ios 터치 확대 방지
}

app-root {
    height: 100%;
}
