/* =Layout */
:root,
body {
    min-width: 480px;
    height: 100%;
}

:root {
    font-size: $defaultFontSize;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-size: unitsConverter(1.3);
}

app-root {
    height: 100%;
}
