<!-- [D] swipe 기능 활성화시 v1 클래스 추가/제거 -->
<article id="portfolio" class="portfolio">
    <h2>portfolio</h2>
    <div class="inr">
        <nav>
            <h3>Filter Menu</h3>
            <!-- [D] 활성화 확장 클래스 .active 추가/제거 -->
            <ul id="mfilter" class="mfilter">
                <!--<li><a role="button" data-filter="all" title="전체" class="filter" (click)="filterMenuClick($event)">all</a></li>
                <li><a role="button" data-filter=".new" title="신규" class="filter" (click)="filterMenuClick($event)">new</a></li>
                <li><a role="button" data-filter=".sustaining" title="유지보수" class="filter" (click)="filterMenuClick($event)">sustaining</a></li>
                <li><a role="button" data-filter=".accessibility" title="웹 접근성" class="filter" (click)="filterMenuClick($event)">accessibility</a></li>
                <li><a role="button" data-filter=".responsive" title="반응형웹" class="filter" (click)="filterMenuClick($event)">responsive</a></li>
                <li><a role="button" data-filter=".web" title="웹" class="filter" (click)="filterMenuClick($event)">web</a></li>
                <li><a role="button" data-filter=".mobile" title="모바일웹" class="filter" (click)="filterMenuClick($event)">mobile</a></li>
                <li><a role="button" data-filter=".app" title="앱" class="filter" (click)="filterMenuClick($event)">App</a></li>-->
                <li><a role="button" data-filter="all" title="전체" class="filter" (click)="filterMenuAction$.next($event)">all</a></li>
                <li><a role="button" data-filter=".new" title="신규" class="filter" (click)="filterMenuAction$.next($event)">new</a></li>
                <li><a role="button" data-filter=".sustaining" title="유지보수" class="filter" (click)="filterMenuAction$.next($event)">sustaining</a></li>
                <li><a role="button" data-filter=".accessibility" title="웹 접근성" class="filter" (click)="filterMenuAction$.next($event)">accessibility</a></li>
                <li><a role="button" data-filter=".responsive" title="반응형웹" class="filter" (click)="filterMenuAction$.next($event)">responsive</a></li>
                <li><a role="button" data-filter=".web" title="웹" class="filter" (click)="filterMenuAction$.next($event)">web</a></li>
                <li><a role="button" data-filter=".mobile" title="모바일웹" class="filter" (click)="filterMenuAction$.next($event)">mobile</a></li>
                <li><a role="button" data-filter=".app" title="앱" class="filter" (click)="filterMenuAction$.next($event)">App</a></li>
            </ul>

            <h3>Sort Menu</h3>
            <ul class="msort">
                <li><a role="button" data-sort="default" title="새로고침" class="sort"><fa-icon [icon]="faSyncAlt"><span>default</span></fa-icon></a></li>
                <li><a role="button" data-sort="order:asc" title="오름차순 정렬" class="sort"><fa-icon [icon]="faSortNumericDownAlt"><span>asc</span></fa-icon></a></li>
                <li><a role="button" data-sort="order:desc" title="내림차순 정렬" class="sort"><fa-icon [icon]="faSortNumericUp"><span>desc</span></fa-icon></a></li>
                <li><a role="button" data-sort="random" title="랜덤 정렬" class="sort"><fa-icon [icon]="faRandom"><span>random</span></fa-icon></a></li>
                <!--<li><a role="button" title="썸네일 타입" (click)="sortMenuClick('thumb')"><fa-icon [icon]="faThLarge"><span>thumbnail layout</span></fa-icon></a></li>-->
                <!--<li><a role="button" title="리스트 타입" (click)="sortMenuClick('list')"><fa-icon [icon]="faAlignJustify"><span>list layout</span></fa-icon></a></li>-->
                <li><a role="button" title="썸네일 타입" (click)="sortMenuAction$.next('thumb')"><fa-icon [icon]="faThLarge"><span>thumbnail layout</span></fa-icon></a></li>
                <li><a role="button" title="리스트 타입" (click)="sortMenuAction$.next('list')"><fa-icon [icon]="faAlignJustify"><span>list layout</span></fa-icon></a></li>
            </ul>
        </nav>
        <!-- [D] 리스트형 레이아웃 사용시 .gallery에 .list 확장 클래스 추가/제거 -->
        <div id="gallery" class="gallery">
            <!--<div
                *ngFor="let portfolioModel of portfolioModel; index as i"
                [attr.data-order]="i + 1"
                class="mix {{portfolioModel['category'].join(' ')}}"
                style="display: inline-block"
            >-->
            <div
                *ngFor="let portfolioModel of (portfolioModel$ | async); index as i"
                [attr.data-order]="i + 1"
                class="mix {{portfolioModel['category'].join(' ')}}"
                style="display: inline-block"
            >
                <figure>
                    <span class="fluid_thumb">
                        <img [src]="'/assets/img/gallery/' + portfolioModel['imageUrl']" width="265" height="164" alt="{{portfolioModel['name']}}">
                    </span>
                    <figcaption>
                        <strong>
                            <fa-icon [icon]="faQuoteLeft"></fa-icon> {{portfolioModel['title']}} <fa-icon [icon]="faQuoteRight"></fa-icon>
                            <span>{{portfolioModel['company']}}</span>
                        </strong>
                        <a href="{{portfolioModel['link']}}" rel="noopener noreferrer" aria-label="바로가기" target="_blank" (click)="siteGoClick($event)">
                            <fa-icon [icon]="faArrowRight" class="fa"></fa-icon>
                        </a>
                        <time [attr.datetime]="portfolioModel['start']"><fa-icon [icon]="faClock" class="fa"></fa-icon> {{portfolioModel['year']}}</time>
                        <div class="tech-spec">
                            <span *ngFor="let category of portfolioModel['category']">{{category}}</span>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="gap"></div>
            <div class="gap"></div>
        </div>
    </div>
</article>
