@import '_dependency/variable';
@import '_dependency/function';
@import '_dependency/mixin';
@import '_dependency/placeholder';

#footer {
    overflow: hidden;
    display: flex;
    height: 15%;
    background-color: #ffd500;

    @include media-breakpoint('mobile') {
        display: none;
    }

    //.inr {
    //    height: 100%;
    //}

    .column {
        flex: 1;
    }

    .col-inr {
        padding: unitsConverter(2.4) unitsConverter(2);

        .phone,
        address {
            margin-top: 10px;
        }

        .law {
            font-weight: normal;
        }

        fa-icon {
            margin-right: unitsConverter(.4);
        }
    }

    a {
        color: #000;
    }
}
