<footer id="footer">
    <div class="column">
        <div class="col-inr">
            <p class="email"><fa-icon [icon]="faEnvelope"><span>email</span></fa-icon> <a href="mailto://seungwoonjjang@gmail.com">seungwoonjjang@gmail.com</a></p>
            <p class="phone"><fa-icon [icon]="faPhoneSquareAlt"><span>phone</span></fa-icon> <a href="tel:010-7757-7553">010-7757-7553</a></p>
        </div>
    </div>
    <div class="column">
        <div class="col-inr">
            <p class="copyright"><fa-icon [icon]="faLeaf"></fa-icon> <small>copyright &copy; 2020 J Portfolio all rights reserved. dev by woonyzzang</small></p>
        </div>
    </div>
    <div class="column">
        <div class="col-inr">
            <strong class="law"><fa-icon [icon]="faInfoCircle"></fa-icon> all designs are protected under copyright law and unauthorized use is strictly prohibited.</strong>
            <address><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Imhak, Incheon, Gyeyang</address>
        </div>
    </div>
</footer>
