<header id="header">
    <div class="intro" style="display: none">
        <div class="inr">
            <h1 class="logo"><a href="/"><span><b>J</b></span> Portfolio</a></h1>
            <p>Web Accessibility &amp; Web Standard<br>Responsive And Mobile Web<br>Web UI, UX Development</p>
        </div>
    </div>
    <!-- [D] swipe 기능 활성화시 v1 클래스 추가/제거 -->
    <nav id="gnb" class="gnb">
        <h2>Main Menu</h2>
        <ul>
            <!--<li *ngFor="let gnbMenu of gnbMenus">-->
            <li *ngFor="let gnbMenu of (gnbMenus$ | async)">
                <a href="{{gnbMenu.url}}" [attr.data-first-letter]="gnbMenu.name.charAt(0)" title="{{gnbMenu.title}}" (click)="navClick()">
                    <span>{{gnbMenu.name}}</span>
                </a>
            </li>
        </ul>
    </nav>
    <div role="complementary" class="util">
        <h3>Util Menu</h3>
        <a href="#ulinks" aria-label="start menu" class="ulinks">
            <strong>GET STARTED</strong>
            <span class="btn-umenu" (click)="btnUmenuClick($event)">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>
        <nav id="ulinks">
            <ul>
                <!--<li *ngFor="let utilMenu of utilMenus">-->
                <li *ngFor="let utilMenu of (utilMenus$ | async)">
                    <a href="{{utilMenu.url}}" rel="noopener noreferrer" title="{{utilMenu.title}}" target="_blank">{{utilMenu.name}}</a>
                </li>
            </ul>
            <!--<a
                href="{{resume.url}}"
                rel="noopener noreferrer"
                title="{{resume.title}}"
                target="_blank"
                id="resume"
                class="contact"
                (click)="resumeClick($event)"
            >-->
            <a
                href="{{(resume$ | async).url}}"
                rel="noopener noreferrer"
                title="{{(resume$ | async).title}}"
                target="_blank"
                id="resume"
                class="resume"
                (click)="resumeClick($event)"
            >
                <fa-icon [icon]="faUser"><span>{{(resume$ | async).name}}</span></fa-icon>
                <span>resume</span>
            </a>
        </nav>
    </div>
</header>
