@import '_dependency/variable';
@import '_dependency/function';
@import '_dependency/mixin';
@import '_dependency/placeholder';

#header {
    //-webkit-transition: opacity 1s;
    //-webkit-box-ordinal-group: 1;
    float: left;
    position: relative;
    width: 50%;
    height: 100%;

    &:after {
        @extend %clearfix;
    }

    .intro {
        float: left;
        position: relative;
        z-index: 20;
        width: 68%;
        height: 100%;

        @include media-breakpoint('tablet') {
            width: 82%;
        }

        h1 {
            font-weight: normal;
            font-size: unitsConverter(7.6);

            @include media-breakpoint('mobile') {
                font-size: 10.6vw;
            }
        }

        p {
            margin-top: unitsConverter(4.6);
            font-size: unitsConverter(3);

            @include media-breakpoint('mobile') {
                font-size: 4.4vw;
            }
        }
    }

    .gnb {
        float: left;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: 32%;
        height: 100%;

        @include media-breakpoint('tablet') {
            width: 18%;
        }

        h2 {
            @extend %blind;
        }

        &.v1 {
            right: unitsConverter(-5.6);

            @include media-breakpoint('tablet') {
                right: unitsConverter(-6.6);
            }
        }
    }

    .util {
        position: absolute;
        top: unitsConverter(3.4);
        left: unitsConverter(3.4);
        z-index: 30;

        h3 {
            @extend %blind;
        }

        &.v1 {
            display: none;
        }
    }
}

/* =Intro */
.intro {
    //background-color: #fff;
    //@include border-radius(0 45% 45% 0);
    .inr{
        height: 100%;
        padding: unitsConverter(16) unitsConverter(5) unitsConverter(10);
        box-sizing: border-box;

        @include media-breakpoint('mobile') {
            padding: unitsConverter(8) unitsConverter(2);
            align-content: center;
        }
    }
}

/* =Logo */
.logo {
    font-weight: bold;

    a {
        color: #f05339;
        @include text-shadow(1px 1px 2px #888);

        &:after {
            content: '.';
        }

        &:focus,
        &:hover {
            span {
                @include animation(spin 3s infinite);
            }
        }
    }

    span {
        @at-root {
            @include keyframes(spin) {
                from {
                    @include transform(rotate(-20deg));
                }

                to {
                    @include transform(rotate(-380deg));
                }
            }
        }

        display: inline-block;
        overflow: hidden;
        width: unitsConverter(6.8);
        height: unitsConverter(6.8);
        margin: unitsConverter(2.6) unitsConverter(.4) 0 0;
        border: 1px solid #f15a3a;
        @include background-gradient(#f68f4a, #f0583a);
        vertical-align: top;
        text-align: right;
        @include border-radius(unitsConverter(.5));
        @include transform(rotate(-20deg));

        @include media-breakpoint('mobile') {
            width: unitsConverter(5.2);
            height: unitsConverter(5.2);
            margin: 0 unitsConverter(.6) 0 0;
            vertical-align: middle;
        }

        b {
            display: block;
            margin-right: unitsConverter(.2);
            font: unitsConverter(9.6)/unitsConverter(6) Tahoma;
            color: #fff;
            @include text-shadow(1px 1px 2px #333);
            @include transform(rotate(26deg));

            @include media-breakpoint('mobile') {
                font: unitsConverter(6.6)/unitsConverter(5) Tahoma;
            }
        }
    }
}

/* =GNB */
.gnb {
    ul {
        height: inherit;
    }

    li {
        height: 12.5%;
        @for $i from 1 through 8 {
            &:nth-of-type(#{$i}) {
                @if $i == 1 {
                    background-color: #dc0030;
                } @else if $i == 2 {
                    background-color: #e57d04;
                } @else if $i == 3 {
                    background-color: #f2b701;
                } @else if $i == 4 {
                    background-color: #7cb854;
                } @else if $i == 5 {
                    background-color: #09a275;
                } @else if $i == 6 {
                    background-color: #3465aa;
                } @else if $i == 7 {
                    background-color: #7c378a;
                } @else if $i == 8 {
                    background-color: #b10058;
                } @else {
                    background-color: #333;
                }
            }
        }
    }

    a {
        -webkit-transition: margin-left .25s;
        transition: margin-left .25s;
        display: block;
        height: 100%;
        padding-right: unitsConverter(2.6);
        background-color: inherit;
        font-weight: bold;
        color: #fff;
        text-align: right;
        align-content: center;
        text-transform: uppercase;
        @include text-shadow(1px 1px 1px #000);

        @include media-breakpoint('tablet') {
            padding-right: 0;
            text-align: center;
        }

        &:before {
            @include media-breakpoint('tablet') {
                content: attr(data-first-letter);
                font-size: unitsConverter(2.2);
            }
        }

        @include media-breakpoint('mobile', 'min-device') {
            &:focus,
            &:hover {
                width: 110%;
                margin-left: -10%;
                //@include text-shadow(2px 2px #333);
            }
        }

        > span {
            font-size: unitsConverter(1.4);

            @include media-breakpoint('tablet') {
                @include media-blind;
            }
        }
    }

    &.v1 {
        a {
            @include media-breakpoint('mobile', 'min-device') {
                &:focus,
                &:hover {
                    width: 125%;
                    margin-left: 15%;
                }
            }

            @include media-breakpoint('tablet') {
                padding-right: unitsConverter(2.6);
                text-align: right;
            }

            > span {
                padding-right: unitsConverter(3.2);
            }
        }
    }
}

/* =Util */
.util {
    display: flex;

    a.ulinks {
        > strong {
            padding: unitsConverter(.3) unitsConverter(1.2);
            background-color: #333;
            font-size: unitsConverter(1.1);
            font-weight: normal;
            color: #fff;
            @include border-radius(unitsConverter(1.5));

            @include media-breakpoint('tablet') {
                //@include media-blind;
                display: none;
            }
        }

        > .btn-umenu {
            display: none;
            position: fixed;
            top: 16px;
            left: 16px;
            z-index: 5;
            width: 28px;
            height: 24px;
            transition: all .4s;

            @include media-breakpoint('mobile') {
                display: block;
            }

            &.active {
                > span {
                    &:nth-of-type(1) {
                        @include transform(translateY(10px) rotate(-45deg));
                    }

                    &:nth-of-type(2) {
                        opacity: 0;
                    }

                    &:nth-of-type(3) {
                        @include transform(translateY(-10px) rotate(45deg));
                    }
                }
            }

            > span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #333;
                border-radius: 2px;
                transition: all .4s;

                &:nth-of-type(1) {
                    top: 0;
                }

                &:nth-of-type(2) {
                    top: 10px;
                }

                &:nth-of-type(3) {
                    bottom: 0;
                }
            }
        }
    }

    nav {
        position: relative;

        @include media-breakpoint('mobile') {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            margin-left: -100vw;
            padding: unitsConverter(6) unitsConverter(1.6);
            box-sizing: border-box;
            background-color: #eee;
            transition: left .4s;
            will-change: left;
        }

        &.active {
            @include media-breakpoint('mobile') {
                left: 100vw;
            }
        }
    }

    ul {
        display: inline-flex;
        align-items: center;
        height: 100%;
        margin-left: unitsConverter(1);

        @include media-breakpoint('tablet') {
            margin-left: 0;
        }

        @include media-breakpoint('mobile') {
            display: block;
            height: auto;
            margin-top: unitsConverter(1);
            border: 1px solid #bbb;
            border-width: 1px 0;
        }
    }

    li {
        position: relative;
        margin-left: unitsConverter(1.2);

        @include media-breakpoint('mobile') {
            margin: unitsConverter(1.8) 0;
        }

        &:first-child {
            margin-left: 0;
        }

        > a {
            display: block;
            //padding-top: unitsConverter(.4);
            color: #333;
            //text-align: center;
            text-transform: uppercase;

            @include media-breakpoint('mobile') {
                padding-left: unitsConverter(1);
                font-size: unitsConverter(2);
            }

            @include media-breakpoint('mobile', 'min-device') {
                &:focus-visible,
                &:hover {
                    color: #f60;
                    text-decoration: underline;
                }

                &:after {
                    display: none;
                    content: '';
                    position: absolute;
                    top: unitsConverter(-.3);
                    left: 50%;
                    margin-left: unitsConverter(-.6);
                    border-width: unitsConverter(.6) unitsConverter(.6) 0;
                    border-style: solid;
                    border-color: transparent;
                    border-top-color: #f30;
                }

                &:focus-visible:after,
                &:hover:after {
                    display: block;

                    @include media-breakpoint('mobile', 'min-device') {
                        display: none;
                    }
                }
            }
        }
    }

    a.resume {
        position: absolute;
        top: unitsConverter(-.5);
        right: unitsConverter(-4);
        width: unitsConverter(3);
        height: unitsConverter(3);
        @include border-radius(100%);
        background-color: #666;
        font-size: unitsConverter(1.6);
        line-height: 1.8;
        color: #fff;
        text-align: center;

        @include media-breakpoint('mobile') {
            display: block;
            position: static;
            width: 100%;
            height: auto;
            margin-top: unitsConverter(1);
            padding-left: unitsConverter(1);
            border-radius: 0;
            background-color: transparent;
            font-size: unitsConverter(2);
            color: inherit;
            text-align: left;
            text-transform: uppercase;
            box-sizing: border-box;
        }

        @include media-breakpoint('mobile', 'min-device') {
            &:focus-visible,
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }

        > fa-icon {
            @include media-breakpoint('mobile') {
                display: none;
            }
        }

        > span {
            @extend %blind;

            @include media-breakpoint('mobile') {
                @include media-unblind;
            }
        }
    }
}

/* =Btn Home */
a.btn_home {
    position: fixed;
    top: unitsConverter(1);
    right: unitsConverter(1.7);
    padding: unitsConverter(1.5) unitsConverter(2);
    background-color: #333;
    color: #fff;

    &:hover {
        //background-color: #ffd500;
        //color: #333;
        @include text-shadow(1px 1px #000);

        span {
            display: inline-block;
        }
    }

    span {
        display: none;
    }
}
