<article id="technique" class="technique">
    <h2><fa-icon [icon]="faFileCode"></fa-icon> Technique</h2>
    <div class="inr">
        <h3>Frontend</h3>
        <ul>
            <li *ngFor="let frontend of getKeys(techniqueList.get('frontend'))">{{frontend}}</li>
        </ul>
        <hr>
        <h3>Backend</h3>
        <ul>
            <li *ngFor="let backend of getKeys(techniqueList.get('backend'))">{{backend}}</li>
        </ul>
        <hr>
        <h3>Database</h3>
        <ul>
            <li *ngFor="let database of getKeys(techniqueList.get('database'))">{{database}}</li>
        </ul>
    </div>
</article>
