@import '_dependency/variable';
@import '_dependency/function';
@import '_dependency/mixin';
@import '_dependency/placeholder';

.features {
    overflow: hidden;
    position: relative;
    height: unitsConverter(80);
    @include text-shadow(0 0 2px rgba(0, 0, 0, .2));

    @include media-breakpoint('tablet') {
        height: auto;
    }

    > h2 {
        @extend %blind;
    }

    .lid-area {
        position: absolute;
        top: 50%;
        left: 50%;
        width: unitsConverter(600);
        height: unitsConverter(600);
        margin: unitsConverter(-300) 0 0 unitsConverter(-300);
        background-color: #dc0030;
        @include transform(rotate(-20deg));

        @include media-breakpoint('tablet') {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            padding-left: unitsConverter(6.6);
            @include transform(none);
        }
    }

    .lid {
        float: left;
        position: relative;
        width: 50%;
        height: 50%;

        @include media-breakpoint('tablet') {
            float: none;
            width: auto;
            height: auto;
        }

        .in {
            position: absolute;

            @include media-breakpoint('tablet') {
                position: static;
            }
        }

        .stit {
            margin-top: unitsConverter(1.6);

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .first {
        background-color: #dc0030;
        color: #fff;
        text-align: right;

        .in {
            right: 0;
            bottom: 0;
            margin: 0 unitsConverter(1.5) unitsConverter(1.5) 0;

            @include media-breakpoint('tablet') {
                margin: 0;
                padding: unitsConverter(6.4) unitsConverter(2) unitsConverter(2);
            }
        }

        .stit {
            font-size: unitsConverter(2.8);

            @include media-breakpoint('tablet') {
                font-size: unitsConverter(1.8);
            }
        }

        p {
            font-size: unitsConverter(1.8);

            @include media-breakpoint('tablet') {
                margin-top: unitsConverter(1);
                font-size: unitsConverter(1.4);
                line-height: 1.6;
            }
        }

        a.qusetion {
            display: inline-block;
            margin-top: unitsConverter(.4);
            padding: unitsConverter(.5) unitsConverter(1.4);
            background-color: #fff;
            font-weight: bold;
            font-size: unitsConverter(2);
            color: #dc0030;
            vertical-align: top;
            @include border-radius(100%);

            @include media-breakpoint('tablet') {
                margin-top: unitsConverter(-.5);
                @include transform(scale(.7));
            }
        }
    }

    .second {
        background-color: #ff184a;
        color: #fff;

        .in {
            bottom: 0;
            left: 0;
            margin: 0 0 unitsConverter(1.5) unitsConverter(1.5);

            @include media-breakpoint('tablet') {
                margin: 0;
                padding: unitsConverter(2);
            }
        }

        .stit {
            font-weight: normal;
            font-size: unitsConverter(3);

            @include media-breakpoint('tablet') {
                font-size: unitsConverter(1.8);
            }
        }

        p {
            font-size: unitsConverter(1.6);
            color: #fff;

            @include media-breakpoint('tablet') {
                margin-top: unitsConverter(1);
                font-size: unitsConverter(1.4);
                line-height: 1.6;
            }
        }
    }

    .third {
        text-align: right;
        background-color: #ff184a;
        color: #fff;

        @include media-breakpoint('tablet') {
            background-color: #dc0030;
        }

        .in {
            right: 0;
            top: 0;
            margin: unitsConverter(1.5) unitsConverter(1.5) 0 0;

            @include media-breakpoint('tablet') {
                margin: 0;
                padding: unitsConverter(2);
            }
        }

        .stit {
            font-size: unitsConverter(2);

            @include media-breakpoint('tablet') {
                font-size: unitsConverter(1.8);
            }
        }

        p {
            font-size: unitsConverter(1.4);
            color: #fff;

            @include media-breakpoint('tablet') {
                margin-top: unitsConverter(1);
                line-height: 1.6;
            }
        }
    }

    .fourth {
        background-color: #dc0030;

        @include media-breakpoint('tablet') {
            display: none;
        }

        .in {
            top: 0;
            left: 0;
            width: 20%;
            height: 15%;
            margin: unitsConverter(1.5) 0 0 unitsConverter(1.5);
        }

        .stit {
            font-size: unitsConverter(1.8);
            color: #7b6700;
        }
    }
}

/* =Covered */
.covered {
    position: relative;
    width: 100%;
    height: 100%;
    @include background-size(cover);

    .handle {
        position: absolute;
        width: unitsConverter(4.6);
        height: unitsConverter(4.6);
        margin-top: unitsConverter(-2.3);
        margin-left: unitsConverter(-2.3);
        @include border-radius(50%);
        background-color: #fff;
        text-align: center;
        box-shadow: 1px 0 2px #333;

        > .fa {
            display: inline-block;
            margin: unitsConverter(1.4) unitsConverter(.1) 0;
            color: #000;
            @include transition(.1s ease-out);
        }

        &.vertical {
            @include transform(rotate(90deg));
        }

        &:hover {
            background-color: #555;

            > .fa {
                color: #fff;
            }
        }
    }

    .changeable {
        @include background-size(cover);
    }

    .draggable {
        background-color: #555;
        cursor: move;

        > .fa {
            margin: unitsConverter(1.4) unitsConverter(.4) 0;
            color: #fff;
            @include transition(.1s ease-out);
        }
    }
}
