<article id="features" class="features">
    <h2>features</h2>
    <div class="lid-area">
        <div class="lid first">
            <div class="in">
                <h3 class="stit"><fa-icon [icon]="faCheckCircle"></fa-icon> 웹표준 &amp; 웹접근성 준수</h3>
                <p>장애인차별금지법이 시행됨에 따라<br>기업의 웹사이트 접근성 구축은 필수가 되었습니다.<br>웹접근성 구축부터 인증획득 까지 관련 업무를 수행하고 있습니다.</p>
                <h3 class="stit v1"><fa-icon [icon]="faCogs"></fa-icon> 웹 UI 개발 <a href="#" class="qusetion">?</a></h3>
                <p>Web UI Development Knowhow</p>
            </div>
        </div>
        <div class="lid second">
            <div class="in">
                <h2 class="stit"><fa-icon [icon]="faChartBar"></fa-icon> 성능 최적화</h2>
                <p>site optimization Knowhow</p>
                <p>웹 서비스 규모가 커지면 커질수록 성능 최적화가 중요시 되고 있습니다.<br>모바일 서비스 또한 이제 반드시 필요한 고객채널이 되었습니다.<br>반응형웹, HTML5, jQuery 등 최적화된 모바일 서비스 제공을 위한<br>최적화 기술은 물론, 프론트엔드 개발을 위한 선도적인 기술을 통해<br>보다 안정화된 높은 품질 코드 향상의 프로젝트를 약속드립니다.</p>
            </div>
        </div>
        <div class="lid third">
            <div class="in">
                <h2 class="stit"><fa-icon [icon]="faMobileAlt"></fa-icon> <fa-icon [icon]="faArrowsAltH"></fa-icon> <fa-icon [icon]="faTabletAlt"></fa-icon> <fa-icon [icon]="faArrowsAltH"></fa-icon> <fa-icon [icon]="faLaptop"></fa-icon> 반응형 컨텐츠</h2>
                <p>Responsive Contents Knowhow</p>
                <p>데스크탑, 스마트폰, 태블릿의 다양한 화면 사이즈 변경에<br>대응하는 컨텐츠를 제작합니다.</p>
                <h3 class="stit"><fa-icon [icon]="faLaptop"></fa-icon> 크로스브라우징 노하우</h3>
                <p>Cross-Browser optimizing Knowhow</p>
            </div>
        </div>
        <div class="lid fourth">
            <div class="in">
                <div data-passive="/assets/img/@tmp_covering_a11.jpg" data-active="/assets/img/@tmp_covering_a1.jpg" class="covered covered-first">
                    <div class="handle">
                        <fa-icon [icon]="faChevronLeft" class="fa"></fa-icon>
                        <fa-icon [icon]="faChevronRight" class="fa"></fa-icon>
                    </div>
                    <div class="changeable"></div>
                </div>
            </div>
        </div>
    </div>
</article>
