<article id="features" class="features">
    <h2>features</h2>
    <div class="lid-area">
        <div class="lid first">
            <div class="in">
                <h3 class="stit"><fa-icon [icon]="faCheckCircle"></fa-icon> 웹표준 &amp; 웹접근성 준수</h3>
                <p>장애인차별금지법이 시행됨에 따라<br>기업의 웹사이트 접근성 구축은 필수가 되었습니다.<br>웹접근성 구축부터 인증마크 획득 관련 업무 수행</p>

                <h3 class="stit v1"><fa-icon [icon]="faCogs"></fa-icon> 웹 UI 개발 <a class="qusetion">?</a></h3>
                <p>Web UI Development Knowhow</p>
            </div>
        </div>
        <div class="lid second">
            <div class="in">
                <h3 class="stit"><fa-icon [icon]="faChartBar"></fa-icon> 성능 최적화</h3>
                <p>Site Optimization Knowhow</p>
                <p>웹 서비스 규모가 커지면 커질수록 성능 최적화가 중요시 되고 있습니다.<br>최적화 기술은 물론, 프론트엔드 개발을 위한 선도적인 기술을 통해<br>보다 안정화된 코드 품질 향상 및 성능 개선</p>

                <h3 class="stit"><fa-icon [icon]="faSearch"></fa-icon> SEO 최적화</h3>
                <p>검색엔진 최적화는 필수적인 비즈니스 전략으로 자리잡고 있습니다.<br>검색어 가시성을 높여서 사용자에게 효과적으로 컨텐츠 요소 노출</p>
            </div>
        </div>
        <div class="lid third">
            <div class="in">
                <h3 class="stit"><fa-icon [icon]="faMobileAlt"></fa-icon> <fa-icon [icon]="faArrowsAltH"></fa-icon> <fa-icon [icon]="faTabletAlt"></fa-icon> <fa-icon [icon]="faArrowsAltH"></fa-icon> <fa-icon [icon]="faLaptop"></fa-icon> 반응형 웹</h3>
                <p>Responsive Contents Knowhow</p>
                <p>스마트폰,태블릿, 데스크탑 등 다양한 디바이스 환경에 대응</p>

                <h3 class="stit"><fa-icon [icon]="faWindowRestore"></fa-icon> 크로스브라우징 노하우</h3>
                <p>Cross-Browser Optimizing Knowhow</p>
            </div>
        </div>
        <div class="lid fourth">
            <div class="in">
                <div data-passive="/assets/img/@tmp_covering_a11.jpg" data-active="/assets/img/@tmp_covering_a1.jpg" class="covered covered-first">
                    <div class="handle">
                        <fa-icon [icon]="faChevronLeft" class="fa"></fa-icon>
                        <fa-icon [icon]="faChevronRight" class="fa"></fa-icon>
                    </div>
                    <div class="changeable"></div>
                </div>
            </div>
        </div>
    </div>
</article>
