/* =Layout */
:root,
body {
    height: 100%;
}

:root {
    font-size: $defaultFontSize;
}


body {
    -webkit-font-smoothing: antialiased;
    font-size: unitsConverter(1.3);
}

#wrap {
    height: inherit;

    .home {
        overflow-y: hidden;
        width: 100%;
        height: 85%;

        &.v1 {
            overflow: hidden;
        }
    }

    .swipe {
        width: 200%;
        height: 100%;
        //-webkit-transition: all .5s;
        //transition: all .5s;
        //-webkit-transition-duration: 5s;
        //transition-duration: 5s;

        &.v1 {
            margin-left: -100%;
        }

        //&.v2 {
        //  margin-left: 0;
        //}
    }
}

#header {
    //-webkit-transition: opacity 1s;
    //-webkit-box-ordinal-group: 1;
    float: left;
    position: relative;
    width: 50%;
    height: 100%;

    .intro {
        float: left;
        position: relative;
        z-index: 20;
        width: 60%;
        height: 100%;

        h1 {
            font-weight: normal;
            font-size: unitsConverter(8.6);
        }

        p {
            margin-top: unitsConverter(1.6);
            font-size: unitsConverter(3.2);
        }
    }

    .gnb {
        float: left;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;

        h2 {
            @extend %blind;
        }

        &.v1 {
            right: unitsConverter(-5.6);
        }
    }

    .util {
        position: absolute;
        top: unitsConverter(3.4);
        left: unitsConverter(3.4);
        z-index: 30;

        h3 {
            @extend %blind;
        }
    }

    &:after {
        @extend %clearfix;
    }
}

#container {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    float: left;
    width: 50%;
    height: 100%;
}

#content {
    > h2 {
        @extend %blind;
    }
}

#footer {
    overflow: hidden;
    height: 15%;
    background-color: #ffd500;

    .inr {
        height: 100%;
    }

    .column {
        float: left;
        width: 33.3%;
        height:100%;
        padding: 25px 0;
    }

    .col-inr {
        padding: 0 25px;

        .phone,
        address {
            margin-top: 10px;
        }

        .law {
            font-weight: normal;
        }
    }

    a {
        color: #000;
    }
}
