@charset "utf-8";
/* Bluewave Web Standard Team JSW */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* =Reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:normal}
em,address{font-style:normal}
img,fieldset,iframe{border:0;border-style:none}
img,input,select{vertical-align:top}
hr{display:none}
caption,legend,.hidden{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
table{table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse}
ol,ul{list-style:none}
button{border:0;cursor:pointer}
textarea{resize:none}

body,input,textarea,select,button{font-family:Nanum Gothic,'나눔고딕',NanumGothic,Dotum,'돋움',Malgun Gothic,'맑은 고딕',Gulim,'굴림',Helvetica,sans-serif;font-size:.75em;color:#666}
input,select{font-size:12px}
/*input[type=text]{height:14px;padding:5px 5px 3px;border:1px solid #ccc}
input[type=password]{padding:2px 5px;border:1px solid #ccc}
select{border:1px solid #ccc}
input[type=text],input[type=password]{height:14px;padding:5px 5px 3px;border:1px solid #ccc}
input[type=checkbox]{*width:13px;*height:13px}
select{padding:3px;border:1px solid #ccc}*/
textarea{border:1px solid #ccc}
a{text-decoration:none;color:#333}

/* =Set Class */
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:-9999px;width:0;height:0;border:0;font-size:0;line-height:0}
.dimmed{position:fixed;top:0;left:0;z-index:50;width:100%;height:100%;background-color:#000;opacity:.5;filter:alpha(opacity=50)}
.hide{display:none}
.show{display:block}
.show_in{display:inline}
.show_inb{display:inline-block}
.clearfix{overflow:hidden;zoom:1}
.fl{float:left}
.fr{float:right}
.both{clear:both;zoom:1}
.pr{position:relative}
.top{vertical-align:top}
.mid{vertical-align:middle}
.btm{vertical-align:bottom}
.ctr{text-align:center}
.lft{text-align:left}
.rgt{text-align:right}
.txt_eps{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.scroll{overflow:hidden;overflow-y:scroll;position:relative}
.auto_scroll{overflow:hidden;overflow-y:auto;position:relative}

/* =Layout */
:root,body{height:100%}
#wrap{display:box;display:-ms-flexbox;display:-moz-box;display:-webkit-box;/*height:100%*/}
#opts_menu,#container{min-height:100%}
#opts_menu{position:relative;z-index:10;width:400px;background-color:#131313}
#container{box-flex:1;-ms-flex:1;-moz-box-flex:1;-webkit-box-flex:1}

/* =Options Bar */
header{padding:10px 20px}
header h1 a{font-size:34px;color:#fb0;text-shadow:1px 1px 2px #000}
header h1 small{display:block;margin-left:2px;font-size:16px;color:#888}
#attr_lst{border-top:1px solid #000;border-bottom:1px solid #222}
#attr_lst>li{position:relative;padding:10px 15px;border-top:1px solid #222;border-bottom:1px solid #000;font-size:16px;color:#fff;text-shadow:1px 1px 3px #000}
#attr_lst>li>.chk{display:none}
#attr_lst>li>strong{display:block;cursor:pointer}
#attr_lst li#bgll,#attr_lst li#bgr,
#attr_lst li#bglt .bg_rgba,#attr_lst li#bgll .bg_rgba,#attr_lst li#bgr .bg_rgba,
#attr_lst li.bs_color_rgba,#attr_lst li.ibs_color_rgba,
#attr_lst li.ts_color_rgba{display:none}
#attr_lst>li.active{border-right:5px solid #1ac5a5;background-color:#fff;border-top:0;color:#000;text-shadow:none}
#attr_lst>li.active .clse,#attr_lst>li.active .controls{display:block}
#attr_lst>li.active .help{right:7px;background-color:#e8e8e8;color:#c1bcbc;text-shadow:none}
#attr_lst .clse{display:none;position:absolute;top:10px;right:32px;width:20px;height:20px;background-color:#e8e8e8;font-weight:bold;font-size:10px;color:#c1bcbc;text-align:center;border-radius:15px;text-shadow:none}
#attr_lst .clse:hover,#attr_lst .help:hover{background-color:#1ac5a5 !important;color:#fff !important}
#attr_lst .help{position:absolute;top:10px;right:12px;width:20px;height:12px;padding:4px 0;background-color:#2f2f2f;font-size:12px;line-height:12px;text-align:center;border-radius:15px;text-shadow:1px 1px 1px rgba(0,0,0,.5);cursor:help}
#attr_lst .help:hover span{color:#fff}
#attr_lst .help:hover .info{display:block}
#attr_lst .help span{font-weight:bold;color:#a5a3a3}
#attr_lst .info{display:none;position:absolute;top:10px;left:10px;z-index:20;width:250px;padding:10px 15px;background-color:#1ac5a5;font-weight:normal;color:#000;text-align:left;border-radius:5px;text-shadow:none}
#attr_lst .info dt,#attr_lst li .info dd{margin-top:5px}
#attr_lst .info dt{font-weight:bold;font-size:12px}
#attr_lst .info dt:before{content:'['}
#attr_lst .info dt:after{content:']'}
#attr_lst .info dd{font-size:11px;line-height:16px}
#attr_lst .controls{display:none;margin-top:10px}
#attr_lst .controls li{padding:3px 0}
#attr_lst .controls label+input[type=text]{margin-right:8px}
#attr_lst .controls label+input[type=text]+select{margin:1px 8px 0 -8px}
#attr_lst .controls input[type=checkbox]{margin:2px 2px 0 0}
#attr_lst .controls label,#attr_lst .controls em{margin:1px 5px 0 0;font-size:12px;color:#666;vertical-align:top}
#attr_lst .controls label{display:inline-block}
#attr_lst .controls em{display:block;margin-bottom:5px}
#attr_lst .controls em:not(:nth-of-type(1)){margin-top:5px}
#attr_lst .controls input[type=text]{padding:2px 6px;border:1px solid #ccc;border-left:5px solid #ccc;color:#000}
#attr_lst .controls input[type=text]:focus{border-left-color:#1ac5a5}
#attr_lst .controls .ftface_desc{margin-top:10px;line-height:14px;font-size:11px}
.copyright{padding:15px 15px 200px;font-size:11px;color:#b3b3b3}
.copyright a{color:#666}
.copyright a:hover{text-decoration:underline}

/* =Content */
#content{position:fixed;top:0;left:0;width:100%;height:100%}
.text_view{padding:25px 25px 0 25px;margin:0 0 0 400px;height:100%;background-color:#fbf9dd}
.text_view textarea{width:100%;padding:10px;/*height:261px;*/border:0;background-color:transparent;font-size:18px;line-height:24px;color:#000;outline:none;resize:none}
.preview{position:absolute;right:0;bottom:0;left:400px;border-top:1px solid #dedede}
.preview .inr{overflow:hidden;position:relative;padding:50px 0;border:0;background-color:#ededed;box-shadow:0 0 10px rgba(0,0,0,.3)}
.preview_render{position:relative}
.preview_box{display:box;display:-ms-flexbox;display:-moz-box;display:-webkit-box;box-pack:center;-ms-flex-pack:center;-moz-box-pack:center;-webkit-box-pack:center;box-align:center;-ms-flex-align:center;-moz-box-align:center;-webkit-box-align:center;position:relative;width:250px;height:150px;margin:0 auto;background-color:#333;font-weight:bold;font-size:14px;color:#fff;
/*-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;*/}