<article id="wiki" class="wiki">
    <h2><fa-icon [icon]="faFileArchive"></fa-icon> <a href="#" rel="noopener noreferrer" target="_blank">Wiki</a></h2>
    <div class="inr">
        <dl>
            <dt><fa-icon [icon]="faCheckSquare" class="fa"></fa-icon> J Snippet</dt>
            <dd>웹표준 &#47; 웹 접근성 및 Front-end 성능 향상을 위해 HTML &#47; CSS 와 관련한 여러가지 통일된 규칙을 적용해서 마크업 협업 개발 시 효율적으로 작업 능력을 향상 시킬수 있게 마크업 코딩 컨벤션 가이드 문서 입니다.</dd>
        </dl>
        <dl>
            <dt><fa-icon [icon]="faCheckSquare" class="fa"></fa-icon> 웹표준 (Web Standard)</dt>
            <dd>표준적으로 적용되는 기술이나 규칙을 의미하는데, 웹에서의 표준은 W3C 의 토론을 통해 나온 권고안을 말하며, 권고안 이외 단계수준의 스펙은 비표준이거나 독자확장 요소를 의미하기 대문에 구분해야 사용해야 합니다.</dd>
        </dl>

        <p><strong><fa-icon [icon]="faCheckSquare" class="fa"></fa-icon> 웹표준 관련 기술</strong></p>
        <ul>
            <li>HTML (구조언어)</li>
            <li>CSS (표현)</li>
            <li>script (동작)</li>
        </ul>

        <p><strong><fa-icon [icon]="faCheckSquare" class="fa"></fa-icon> 웹표준의 장점</strong></p>
        <ul>
            <li>웹 접근성 수준의 향상: 웹표준을 준수한 웹사이트는 다양한 웹 브라우저나 새로운 기기에서도 올바르게 표시되므로 자연스럽게 웹접근성아 향상됩니다. 스크린 리더, 최신의 웹브라우저, 모바일등 다양한 환경에서 접속해도 일관성을 유지하기 때문입니다.</li>
            <li>검색 친화적인 웹사이트 구현: meta 요소를 이용한 정확한 문서 정보의 제공과 적절한 제목 (Heading 요소) 의 사용, 의미에 맞는 마크업은 검색시 결과에 영향을 미칠 수 있는 중요한 정보입니다. 따로 홍보를 위한 비용을 지출하지 않아도 충실하게 작성된 문서 정보만으로도 검색의 효율성을 높일 수 있습니다.</li>
            <li>구조와 표현의 분리</li>
            <li>손쉬운 유지 보수 및 비용 절감 효과: 구조와 표현을 분리했을 경우, 소스의 경량화로 인해 서버의 트래픽 비용이 감소하는 부수적인 효과도 얻을 수 있습니다.</li>
        </ul>

        <dl>
            <dt><fa-icon [icon]="faCheckSquare" class="fa"></fa-icon> 웹 접근성 (Web Accessibility)</dt>
            <dd>법적 관점에서의 웹 접근성은 &#39;모든 사용자가 신체적, 환경적 조건에 관계없이 웹에 접근하여 이용할 수 있도록 보장하는 것&#39; 입니다. 좀 더 보편적인 의미에서는 웹 사이트에서 제공하는 정보를 차별 및 제한 없이 동등하게 이용할 수 있도록 보장하는 것입니다.</dd>
            <dd>
                <ul>
                    <li>장애인 및 고령자 등을 포함한 모든 사람</li>
                    <li>다양한 플랫폼 및 장치, 웹 브라우저 등의 모든 환경</li>
                </ul>
            </dd>
        </dl>

        <p><strong><fa-icon [icon]="faCheckSquare" class="fa"></fa-icon> 웹접근성 준수시 기대효과</strong></p>
        <ul>
            <li>장애인, 고령자 등을 포함한 사용자층 확대</li>
            <li>규정과 법적 요구 사항에 대한 준수 (2013년까지)</li>
            <li>다양한 환경, 새로운 기기에서의 이용</li>
            <li>개발 및 운용의 효율성 제고</li>
            <li>사회 공헌 및 복지 기업으로서의 기업 이미지 향상</li>
            <li>웹 표준 방식의 콘텐츠 논리적 레이아웃 선형화</li>
            <li>파일의 용량을 50% 이상 비용 절감</li>
            <li>사람이나 로봇(컴퓨터)이 이해하기 쉬운 구조</li>
            <li>유지보수가 쉽고, 유지보수 비용을 절감</li>
            <li>웹 접근성 문제는 웹 표준만 지키면 90% 이상 해결 가능</li>
        </ul>
    </div>
</article>
