@charset "utf-8";

/* Common */
html,body{height:100%}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕','돋움',Dotum,AppleGothic,sans-serif;font-size:.75em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
hr{display:none}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}

/* Contents */
header{height:100px;background-color:#333}
header hgroup{padding:30px 0 0 30px}
header h1,header h2{display:inline-block}
header h1{color:#fff}
header h2{margin-left:10px;font-size:30px;color:#fc0;letter-spacing:-1px}

#container{padding-right:100px}

.info_area{margin:15px 0 5px;zoom:1}
.info_area:after{display:block;content:'';clear:both}
.info_area h1,.info_area .worker_find{margin-bottom:6px}
.info_area h1{float:left;font-size:20px}
.info_area h1:before{content:'[ '}
.info_area h1:after{content:' ]'}
.info_area h1 .tit{margin:0 5px}
.info_area h1 small{color:#f30}
.info_area .worker_find{float:right;margin-top:5px}

.worker_find ul,.worker_find li{display:inline}
.worker_find li{margin-left:2px}
.worker_find mark{background-color:#fe6;cursor:pointer}
.worker_find mark:hover{text-decoration:underline}

.tbl_area{clear:both;padding:1px;border:1px solid #adadad;background-color:#e0e0e0}
.tbl{width:100%;border-spacing:0;border-collapse:collapse;font-size:12px}
.tbl caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
.tbl th:first-child,.tbl td:first-child{border-left-width:0}
.tbl thead th{height:40px;background-color:#eee;border:1px solid #ccc;border-width:1px 0 1px 1px;font-size:11px
	background-image:-webkit-linear-gradient(top,rgba(250,250,250,0.4) 1%,rgba(200,200,200,0.2) 50%,rgba(80,80,80,0.05) 51%,rgba(230,250,250,0.1) 100%);
	background-image:-moz-linear-gradient(top,rgba(250,250,250,0.4) 1%,rgba(200,200,200,0.2) 50%,rgba(80,80,80,0.05) 51%,rgba(230,250,250,0.1) 100%);
	background-image:-o-linear-gradient(top,rgba(250,250,250,0.4) 1%,rgba(200,200,200,0.2) 50%,rgba(80,80,80,0.05) 51%,rgba(230,250,250,0.1) 100%);
	letter-spacing:-1px;
	cursor:pointer
}
.tbl thead th:hover{background-color:#d5e1f4;
	background-image:-webkit-linear-gradient(top,rgba(206,221,246,0.7) 1%,rgba(194,212,244,1) 50%,rgba(194,212,244,0.8) 100%);
	background-image:-moz-linear-gradient(top,rgba(250,250,250,0.7) 1%,rgba(200,200,200,0.2) 50%,rgba(80,80,80,0.05) 51%,rgba(230,250,250,0.1) 100%,rgba(0,0,0,0.0) 10%);
	background-image:-o-linear-gradient(top,rgba(250,250,250,0.7) 1%,rgba(200,200,200,0.2) 50%,rgba(80,80,80,0.05) 51%,rgba(230,250,250,0.1) 100%,rgba(0,0,0,0.0) 10%);
}

.tbl tbody th,.tbl td{padding:8px 4px;border:1px solid #eee;border-width:0 0 1px 1px;background-color:#fff}
.tbl td.valign_btm{vertical-align:bottom}
.tbl td.txt_mid{text-align:center}
.tbl td a{font-weight:bold}
.tbl td progress{display:block;width:100%}
.tbl tbody th{background-color:#f8f8f8}
.tbl tbody tr:hover th,.tbl tbody tr:hover td{background-color:#ebf1fc;color:#000}

.lst_type li{height:12px;margin-top:6px}
.lst_type li:first-child{margin-top:0}

.progress[data-progress]{font-size:8px}
.progress[data-progress]:after,.progress[data-progress]:before{content:"0%";display:block;width:0;height:11px;background-color:#999;color:#fff;border-radius:3px}
.progress[data-progress]:before{margin-bottom:-11px;content:'';width:100%;background-color:#ddd}
.progress[data-progress$='100%']:after{content:'100%';width:100%;background-color:#3c9dff}
.progress[data-progress$='90%']:after{content:'90%';width:90%}
.progress[data-progress$='80%']:after{content:'80%';width:80%}
.progress[data-progress$='70%']:after{content:'70%';width:70%}
.progress[data-progress$='60%']:after{content:'60%';width:60%}
.progress[data-progress$='50%']:after{content:'50%';width:50%}
.progress[data-progress$='40%']:after{content:'40%';width:40%}
.progress[data-progress$='30%']:after{content:'30%';width:30%}
.progress[data-progress$='20%']:after{content:'20%';width:20%}
.progress[data-progress$='10%']:after{content:'10%';width:10%}
.progress .blind{overflow:hidden;visibility:hidden;position:absolute;top:0;left:-9999px;width:1px;height:1px;font-size:1px}

.inc{padding-left:20px}
.inc:before{content:'ㄴ';color:#ccc}
.inc a{font-weight:normal;color:#999;text-decoration:none}

.rel th,.rel td{border-bottom:2px solid #ff0080 !important}
.rel .tag{margin-top:0}
.tag{position:absolute;right:12px;width:80px;height:14px;margin-top:-4px;padding:5px;background-color:#f08;font-weight:normal;font-size:11px;line-height:1.4;color:#fff;border-radius:5px;border-radius:0 5px 5px 0}
.tag:after{content:'';position:absolute;top:0;left:-12px;width:0;height:0;vertical-align:top;border-right:12px solid #ff0080;border-top:12px solid transparent;border-bottom:12px solid transparent}

.on{color:#333;font-weight:bold;}
.on td{background-color:#ebf1fc;border-bottom:1px solid #c8d8f7}