// @Variables

// 파일경로
$FONT-PATH: '/assets';
$FILE-PATH: '/assets';

// 폰트
$fontUnit: 'rem'; // 'rem' || ''
$defaultFontSize: 10px;

// 미디어쿼리 브레이크 포인트
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1200px;
$desktop-breakpoint: 1900px;

//@debug 10em + 12em;
