@import '_dependency/variable';
@import '_dependency/function';
@import '_dependency/mixin';
@import '_dependency/placeholder';

.blog {
    padding: unitsConverter(6) unitsConverter(9) unitsConverter(14) unitsConverter(9);
    background-color: #b10058;
    color: #fff;

    @include media-breakpoint('tablet') {
        padding: unitsConverter(6) unitsConverter(2) unitsConverter(2) unitsConverter(9);
    }

    h2 {
        margin-bottom: unitsConverter(4);
        font-weight: normal;
        font-size: unitsConverter(2.2);

        a {
            margin-left: unitsConverter(1);
            font-size: inherit;
            color: #fff;
        }
    }

    h3 {
        margin-bottom: unitsConverter(6);
        font-size: unitsConverter(3);
        text-transform: capitalize;
    }

    p {
        margin-top: unitsConverter(1.6);
        line-height: 1.8;
        @include text-shadow(0 0 2px rgba(255, 255, 255, .2));
    }

    q {
        &:before,
        &:after {
            content: '"';
        }
    }

    hr {
        margin: unitsConverter(3.5) 0;
        border-top: 1px solid #fff;
        border-bottom: 0;
    }
}
